/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;

}

.navbar-links {
    display: flex;
    gap: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* LOGIN */


h1 {
    text-align: center;
    padding: 20px;
}

.login-signup {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.login-signup input[type="text"], .login-signup input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-signup input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-signup button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-signup button:hover {
    background-color: #5a6268;
}

