{% extends 'navbar.html' %}

{% block content %}
<div class="list">
    <h1>List of Charges</h1>
    <h2>Your role is: {{ role }}</h2>
    <form action="/charges" method="GET" style="margin: 10px;">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort">
            <option value="">Default</option>
            <option value="id">ID</option>
            <option value="classification">Classification</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    <ul>
        {% for charge in charges %}
        <li>
            <a href="{{ url_for('get_charges', id=charge.charge_code) }}">
                ID: {{ charge.charge_code }}, Classification: {{ charge.classification }}

            </a>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}