{% extends 'navbar.html' %}

{% block content %}
<div>
    <h1>List of Criminals</h1>
    <ul>
        {% for criminal in criminals %}
        <li>
            <a href="{{ url_for('get_criminal', id=criminal.criminal_id) }}">
                ID: {{ criminal.criminal_id }}, Name: {{ criminal.name }}
                {% if criminal.aliases %}
                (
                {% for alias in criminal.aliases %}
                    {{ alias.alias_name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                )
            {% endif %}

            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}