{% extends 'navbar.html' %}

{% block content %}
<div class="container">
    <h2>Crime {{ crime.crime_id }} Report</h2>
    <div class="info-edit">
        <div class="info">
            <span><strong>CRIME ID: </strong>{{ crime.crime_id }}</span>
            <span><strong>CRIMINAL ID: </strong> <a href="{{ url_for('get_criminal', id=criminal.criminal_id) }}">{{ criminal.criminal_id }} ({{ criminal.name }})</a></span>
            <span><strong>CHARGE CODES: </strong>
                {{ charge_codes|join(", ") }}
            </span>
            <span><strong>FINE: </strong>${{ "%.2f"|format(crime.fine) }}</span>
            <span><strong>AMOUNT PAID: </strong>${{ crime.crime_id }}</span>
            <span><strong>PAYMENT DUE DATE: </strong>{{ crime.payment_due_date }}</span>
            <span><strong>COURT FEE: </strong>${{ "%.2f"|format(crime.court_fee) }}</span>
        </div>
        

        <!-- Button to Open the Modal -->
        <button id="edit-crime" class="edit">Edit</button>

        <!-- The Modal -->
        <div id="crime-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="edit_crime_form" action="/crime/{{ crime.crime_id }}" method="post">
                    <div>
                        <label for="fine">Fine</label>
                        <input type="number" id="fine" name="fine" value="{{ crime.fine }}">
                    </div>
                    <div>
                        <label for="amount_paid">Amount paid</label>
                        <input type="number" id="amount_paid" name="amount_paid" value="{{ crime.amount_paid }}">
                    </div>
                    <div>
                        <label for="payment_due_date">Payment due date</label>
                        <input type="date" id="payment_due_date" name="payment_due_date" value="{{ crime.payment_due_date }}">
                    </div>
                    <div>
                        <label for="court_fee">Court fee</label>
                        <input type="number" id="court_fee" name="court_fee" value="{{ crime.court_fee }}">
                    </div>
                    <div>
                        <button type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="tables">
        <div>
            <strong>Appeals</strong>
            <table>
                <thead>
                    <tr>
                        <th>Appeal ID</th>
                        <th>Filing Date</th>
                        <th>Hearing Date</th>
                        <th>Appeal Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for appeal in appeals %}
                    <tr>
                        <td><a href="{{ url_for('get_appeal', id=appeal.appeal_id) }}">{{ appeal.appeal_id }}</a></td>
                        <td>{{ appeal.filing_date }}</td>
                        <td>{{ appeal.hearing_date }}</td>
                        <td>{{ appeal.appeal_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <strong>Officers</strong>
            <table>
                <thead>
                    <tr>
                        <th>Badge Number</th>
                        <th>Name</th>
                        <th>Precinct</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for officer in officers %}
                    <tr>
                        <td>{{ officer.badge_no }}</td>
                        <td>{{ officer.name }}</td>
                        <td>{{ officer.precinct }}</td>
                        <td>{{ officer.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='modal.js') }}"></script>
{% endblock %}
{% endblock %}