{% extends 'navbar.html' %}

{% block content %}
<div>
    <h1>List of Criminals</h1>
    <ul>
        {% for criminal in criminals %}
        <li>
            <a href="{{ url_for('get_criminal', id=criminal.criminal_id) }}">
                ID: {{ criminal.criminal_id }}, Name: {{ criminal.name }}, Aliases:
                <ul>
                    {% for alias in criminal.aliases %}
                    <li>{{ alias.alias_name }}</li>
                    {% endfor %}
                </ul>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}