{% extends 'navbar.html' %}

{% block content %}
<div class="container">
    <div>                
        <h2>{{ criminal.name }} </h2>
        {% if criminal.aliases|length > 0 %}
            (
            {% for alias in criminal.aliases %}
                {{ alias.alias_name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            )
        {% endif %}
    </div>
    <div class="info-edit">
        <div class="info">
            <span><strong>CRIMINAL ID: </strong>{{ criminal.criminal_id }}</span>
            <span><strong>PHONE NUMBERS: </strong>
                {% for phone in criminal.phones %}
                    {{ phone.c_phone_number }}
                {% endfor %}
            </span>
            <span>
                <strong>ADDRESSES: </strong>
                {% for address in criminal.addresses %}
                    {{ address.street_address }}, {{ address.city }}, {{ address.state }}, {{ address.zip_code }}
                {% endfor %}
            </span>
        </div>
        

        <!-- Button to Open the Modal -->
        <button id="edit-criminal">Edit</button>

        <!-- The Modal -->
        <div id="criminal-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="edit_criminal_form" action="/criminal/{{ criminal.criminal_id }}" method="post">
                    <div>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="{{ criminal.name }}">
                    </div>
                    <div class="edit-multi">
                        <div>
                            <label for="alias-select">Alias</label>
                            <select id="alias-select" name="alias_select">
                                {% for alias in criminal.aliases %}
                                    <option value="{{ alias.alias_name }}">{{ alias.alias_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="delete-checkbox">
                            <label for="delete-alias">Delete selected alias?</label>
                            <input type="checkbox" id="delete-alias" name="delete_alias">
                        </div>
                        <input type="text" id="alias" name="alias" placeholder="Edit selected alias">
                    </div>
                    <div class="edit-multi">
                        <div>
                            <label for="address-select">Address</label>
                            <select id="address-select" name="address_select">
                                {% for address in criminal.addresses %}
                                    <option value="{{ address.street_address }}, {{ address.city }}, {{ address.state }}, {{ address.zip_code }}">{{ address.street_address }}, {{ address.city }}, {{ address.state }}, {{ address.zip_code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="delete-checkbox">
                            <label for="delete-address">Delete selected address?</label>
                            <input type="checkbox" id="delete-address" name="delete_address">
                        </div>
                        <div class="address-edit">
                            <input type="text" id="street-address" name="street_address" placeholder="Edit street address">
                            <input type="text" id="city" name="city" placeholder="Edit city">
                            <input type="text" id="state" name="state" placeholder="Edit state">
                            <input type="text" id="zip-code" name="zip_code" placeholder="Edit zip code">
                        </div>
                    </div>
                    <div class="edit-multi">
                        <div>
                            <label for="phone-select">Phone Number</label>
                            <select id="phone-select" name="phone_select">
                                {% for phone in criminal.phones %}
                                    <option value="{{ phone.c_phone_number }}">{{ phone.c_phone_number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="delete-checkbox">
                            <label for="delete-phone">Delete selected phone number?</label>
                            <input type="checkbox" id="delete-phone" name="delete_phone">
                        </div>
                        <input type="text" id="phone" name="phone" placeholder="Edit selected phone number">
                    </div>
                    <div>
                        <button type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="tables">
        <div>
            <strong>Crimes</strong>
            <table>
                <thead>
                    <tr>
                        <th>Crime ID</th>
                        <th>Fine</th>
                        <th>Amount Paid</th>
                        <th>Payment Due Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for crime in crimes %}
                    <tr>
                        <td><a href="{{ url_for('get_crime', id=crime.crime_id) }}">{{ crime.crime_id }}</a></td>
                        <td>{{ crime.fine }}</td>
                        <td>{{ crime.amount_paid }}</td>
                        <td>{{ crime.payment_due_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <strong>Sentences</strong>
            <table>
                <thead>
                    <tr>
                        <th>Sentence ID</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Number of Violations</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                {% for sentence in sentences %}
                    <tr>
                        <td><a href="{{ url_for('get_sentence', id=sentence.sentence_id) }}">{{ sentence.sentence_id }}</a></td>
                        <td>{{ sentence.start_date }}</td>
                        <td>{{ sentence.end_date }}</td>
                        <td>{{ sentence.num_violations }}</td>
                        <td>{{ sentence.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='criminal.js') }}"></script>
{% endblock %}
{% endblock %}