<!DOCTYPE html>
<html lang="en">
<head>
    <title>Criminal Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <h1>
            Criminal Management System
        </h1>
        <div class="navbar-links">
            <a href="/criminals">
                Criminal
            </a>
            <a href="/officers">
                Officer
            </a>
            <a href="/charges">
                Charge
            </a>
            <div>
                Log out
            </div>
            
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>