{% extends 'navbar.html' %}

{% block content %}
<div class="container">
    <div>                
        <h2>{{ officer.name }} ({{ officer.badge_no }}) </h2>
    </div>
    <div class="info-edit">
        <div class="info">
            <span><strong>BADGE NO: </strong>{{ officer.badge_no }}</span>
            <span><strong>PRECINCT: </strong>{{ officer.precinct }}</span>
            <span>
                <strong>STATUS: </strong>
                {{ officer.status }}
            </span>
            <span><strong>PHONE NUMBERS: </strong>
                {% for phone in officer.phones %}
                    {{ phone.o_phone_number }} {% if not loop.last %} | {% endif %}
                {% endfor %}
            </span>
        </div>
        
        <div class="edit-delete">
            <button class="delete" onclick="deletePrompt('officer', '{{ officer.badge_no }}')">Delete</button>    
            <!-- Button to Open the Modal -->        
            <button id="edit-officer" class="edit">Edit</button>
        </div>

        <!-- The Modal -->
        <div id="officer-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="edit_officer_form" action="/officer/{{ officer.badge_no }}" method="post">
                    <div>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="{{ officer.name }}">
                    </div>
                    <div class="edit-multi">
                        <div>
                            <label for="phone-select">Phone Number</label>
                            <select id="phone-select" name="phone_select">
                                {% for phone in officer.phones %}
                                    <option value="{{ phone.o_phone_number }}">{{ phone.o_phone_number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="delete-checkbox">
                            <label for="delete-phone">Delete selected phone number?</label>
                            <input type="checkbox" id="delete-phone" name="delete_phone">
                        </div>
                        <input type="text" id="phone" name="phone" placeholder="Edit selected phone number">
                        <div>
                            <label for="add-phone">Add a new phone:</label>
                            <input type="text" id="add-phone" name="add_phone" />
                        </div>
                    </div>
                    <div>
                        <label for="precinct">Precinct</label>
                        <input type="text" id="precinct" name="precinct" value="{{ officer.precinct }}">
                    </div>
                    <div class="delete-checkbox">
                        <label for="status">Status</label>
                        <input type="checkbox" id="status" name="status" {% if officer.status %}checked{% endif %}>                    </div>
                    <div>
                        <button type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="tables">
        <div>
            <strong>Crimes</strong>
            <table>
                <thead>
                    <tr>
                        <th>Crime ID</th>
                        <th>Fine</th>
                        <th>Amount Paid</th>
                        <th>Payment Due Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for crime_officer in officer.crime_officers %}
                    <tr>
                        <td><a href="{{ url_for('get_crime', id=crime_officer.crime.crime_id) }}">{{ crime_officer.crime.crime_id }}</a></td>
                        <td>{{ crime_officer.crime.fine }}</td>
                        <td>{{ crime_officer.crime.amount_paid }}</td>
                        <td>{{ crime_officer.crime.payment_due_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='modal.js') }}"></script>
{% endblock %}
{% endblock %}