<!DOCTYPE html>
<html>
<head>
    <title>Criminal Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Criminal Management System</h1>

    <form action="/signup" class="login-signup" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Sign up">
        </div>
        <button onclick="location.href='/'">Return to log in</button>
    </form>
</body>
</html>